$mobile : 360px;
$tablet : 768px;
$desktop : 1024px;
$lgdesktop : 3600px;

@mixin breakpoint ($min, $max){
    @media (min-width: $min) and (max-width: $max){
        @content;
    }
}

@include breakpoint($mobile, $tablet){
    .head{
        display: inline;
        margin: 0px;
    }

    .logo{
        font-size: 30px;
    }

    .plus{
        transform: translate(-50%, 50%)
    }

    .sori{
        display: none;
    }

    footer{
        width: 100%;
    }

    footer p{
        width: 100%;
        font-size: 45px;        
    }

    .subMenu a{
        font-size: 25px;
    

        // about
        .section h1{
            font-size: 30px;
        }
        .section1 .about{
            flex-direction: column;
            align-items: flex-start;
        }
}
};

@include breakpoint($tablet, $desktop){


    .so li:nth-of-type(1){
        top: 30%;
    }

    .so li:nth-of-type(2){
        top: 45%;
        left: 30%;
    }

    .so li:nth-of-type(3){
        bottom: 20%;
    }

    .ri li:nth-of-type(1){
        top: 35%;
    }

    .ri li:nth-of-type(2){
        top: 30%;
    }

    .ri li:nth-of-type(3){
        top: 50%
    }

    .ri li:nth-of-type(4){
        bottom: 25%;
    }

    .plus button{
        z-index: 10;
    }

    // 소개
    .about, .feindsTalk{
        flex-direction: column;
        align-items: flex-start;
    }
};

@include breakpoint($desktop, 2600px){
    .plus{
        transform: translateY(-50%);
    }

    footer{
        width: 100%;
    }

    footer p{
        width: 100%;
        text-align: center;
        font-size: 50px;
        margin: auto        
    }
};

@include breakpoint($desktop, 3600px){
    
};
